// Fonts
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
// Variables
@import "variables";

// Bootstrap
@import "bootstrap";

// custom css
body {
  background-color: $bg;
  color: $gray-black;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}

a, 
a:hover,
a:focus,
a:visited, {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0.2rem;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo svg{
  width: 100%;
  height: 100%;
}

.forecast,
.advertisement {
  font-size: 12px;
  border: 1px solid $gray-black;
  padding: 8px;
}

.article {
	text-align: justify;
  margin-top: 20px;
}

.fourth-column .article:last-child {
  box-shadow: none;
}

.article__image {
  margin-bottom: 10px;
}

.article__headline {
  text-align: center;
  text-transform: uppercase;
}

.article__headline h2 {
    font-size: 1.7rem;
  }

.article--main .article__headline h2 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.article__perex {
  margin-top: 30px;
}

.article__author {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.article__body {
  margin-top: 15px;
}

.article__place {
  float: left;
  text-transform: uppercase;
}

.head {
  padding-bottom: 15px;
  min-height: 170px;
}

.info-bar {
  border-top: 2px solid $gray-black;
  border-bottom: 2px solid $gray-black;
  padding: 2px 0;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 12px;
}

.footer {
  background: $bg-darker;
  padding: 5px 0;
  margin-top: 40px;
  font-size: 10px;
}

.footer a {
  color: #0275d8;
}

.powered-by > * {
  vertical-align: middle;
}

.ny-times-logo {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(../images/poweredby_nytimes_30a.png) center / 30px 30px no-repeat;
}

.columnize {
  column-count: 3;
  column-width: 180px;
}

.separator {
  position: relative;
}

.separator::after {
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  bottom: -20px;
  top: auto;
  width: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid $gray-black;
}

.full-width-separator {
  box-shadow: 0 1px 0 0 $gray-black;
  padding-bottom: 5px;
}

.bw-filter {
  filter: grayscale(100%);
}

.height-100 {
  height: 100%;
}

@include media-breakpoint-up(sm) {
	.border-right-sm {
		border-right: 1px solid $gray-black;
	}

  .article--main,
  .third-column .article:first-child {
    margin-top: 0px;
  }
}

@include media-breakpoint-up(md) {
	.border-right-md {
		border-right: 1px solid $gray-black;
	}

  .fourth-column .article:first-child {
    margin-top: 0px;
  }

  .no-separator-md {
    box-shadow: none;
  }
}

@include media-breakpoint-up(lg) {
  .article--main .article__headline h2 {
    font-size: 3.5rem;
  }
}

@include media-breakpoint-only(md) {
  .article__headline h2 {
    font-size: 1.3rem;
  }
}
