// Fonts
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700|UnifrakturMaguntia);
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// custom css
body {
  background-color: $bg;
  color: $gray-black;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}

.forecast,
.advertisement {
  font-size: 12px;
  border: 1px solid $gray-black;
  padding: 8px;
}

.article {
	text-align: justify;
}

.article__image {
  margin-bottom: 10px;
}

.article__headline {
  text-align: center;
  text-transform: uppercase;
}

.article--main .article__headline h2 {
  font-size: 3.3rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.article__perex {
  margin-top: 30px;
}

.article__author {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.article__author::before {
  content: 'By ';
  text-transform: capitalize;
}

.article__body {
  margin-top: 15px;
}

.article__place {
  float: left;
  text-transform: uppercase;
}

.head {
  padding-bottom: 15px;
  min-height: 170px;
}

.brand {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 76px;
  margin-bottom: 0px;
}

.info-bar {
  border-top: 2px solid $gray-black;
  border-bottom: 2px solid $gray-black;
  padding: 2px 0;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer {
  background: $bg-darker;
  padding: 5px 0;
  margin-top: 40px;
}

.columnize {
  column-count: 3;
  column-width: 180px;
}

.separator {
  position: relative;
}

.separator::after {
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  bottom: -20px;
  top: auto;
  width: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid $gray-black;
}

.full-width-separator {
  box-shadow: 0 1px 0 0 $gray-black;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.bw-filter {
  filter: grayscale(100%);
}

@include media-breakpoint-up(sm) {
	.border-right-sm {
		border-right: 1px solid $gray-black;
	}
}

@include media-breakpoint-up(md) {
	.border-right-md {
		border-right: 1px solid $gray-black;
	}
}

@include media-breakpoint-down(lg) {
  .brand {
    font-size: 70px;
  }
}

@include media-breakpoint-down(xs) {
  .brand {
    font-size: 42px;
  }

  .article--main .article__headline h2 {
    font-size: 2.3rem;
    letter-spacing: 2px;
  }

  .info-bar {
    font-size: 12px;
  }
}